
li,h1{
text-decoration:none;
color:white;
list-style: none;

}
a { text-decoration: none;}
header{
    background-color:rgba(12, 29, 2, 0.945);
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    font-size: 28px;
}
ul li a{
    color: white;
    margin: 15px;
}

div-logo{
    margin-top: 60px;
}